JWT_SECRET=
ASSEMBLY_API_KEY=
OPENAI_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
FRONTEND_URL=
UPLOAD_ACCESS_TOKEN=
EMAIL_USER=
EMAIL_PASS=
MONGODB_URI=
PORT=
NODE_ENV=
MAX_AUDIO_UPLOAD_SIZE_MB=
MAX_VIDEO_UPLOAD_SIZE_MB=
MAX_ASSEMBLY_UPLOAD_SESSIONS_PER_USER=
GOOGLE_TOKEN_ENCRYPTION_KEY=
